################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GetCurrentWeatherWebAPI/.vs
/GetCurrentWeatherWebAPI/bin/Debug/net6.0
/GetCurrentWeatherWebAPI/obj
/GetCurrentWeatherWebAPITests/bin/Debug/net6.0
/GetCurrentWeatherWebAPITests/obj
